/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html,body{
	padding:0;
	margin:0;
	background:#fff;
font-family: 'Asap Condensed', sans-serif;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	text-decoration:none;
}
body a:hover {
	text-decoration: none;
}

body a:focus, a:hover {
	text-decoration: none;
}

input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	padding:0;
font-family: 'Asap Condensed', sans-serif;
	letter-spacing:1px;
}	
p{
	margin:0;
	padding:0;
	letter-spacing:1px;
font-family: 'Asap Condensed', sans-serif;

}
ul{
	margin:0;
	padding:0;
}
/*-- //Reset-Code --*/
.copywrite,.content,.portfolio,.about{background:#fff;}
.about,.services,.portfolio,.content,.testimonials{padding:6em 0;}
.portfolio{padding-bottom:0px !important;}
.title {
    font-size: 47px;
    text-align: center;
    color:#006cdc;
    font-weight: 600;
	margin-bottom:30px;
}
/*-- header --*/ 
h1 a.navbar-brand {
    font-size: 56px;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}
nav.navbar.navbar-default.navbar-fixed-top {
	    position: absolute;
    background:rgba(12, 19, 9, 0.4);
    border: none;
    padding:2em;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse {
    background: rgba(0, 0, 0, 0.49);
	padding: 1em;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
	    margin: 0 1em;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
       border-top: 1px solid #fff;
	    border-bottom: 1px solid #fff;
	color: #006cdc;
    background-color: transparent;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navbar-right {
    padding: 0 0em;
	margin-top:6px;
}
/*-- //header --*/ 
/*-- banner--*/ 
.navbar {margin-bottom:0em;}
.banner-w3{background: url(../images/b1.jpg)no-repeat center;
    background-size: cover;
    min-height: 800px;
	position: relative;
}
.w3l-info {
    margin-top: 24em;
}
.w3l-info h4{
    font-size: 63px;
    line-height: 70px;
    color: #ffffff;
	font-weight:600;
}
.w3l-info p{font-size: 14px;
    letter-spacing: 1px;
    color: #e6e6e6;
    padding: 0px 19em;
    line-height: 2em;
    text-align: center;
	margin:1.5em 0;}
	.w3layouts_more-buttn a {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background: #006cdc;
    outline: none;
    padding: 10px 22px;
    border: 2px solid #fff;
}
.w3layouts_more-buttn a:hover {
    background: #006cdc;
    border: 2px solid #006cdc;
    color: #fff;
}
/*-- //banner --*/ 
/*--about--*/
.about-grids{
    text-align: left;
}
.about-grids p {
    font-size: 1em;
    color: #999;
    line-height: 1.8em;
    padding-left:2em;
    border-left: 2px solid #000;

}
.about-grids span.fa {
    font-size: 2.5em;
    color: #7b7070;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
.about-grids h4 {
    color: #000;
    font-size: 1.2em;
    margin:1.4em 0 .8em;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
} 
.about-grids:hover span.fa {
    color:#006cdc;
}
.about-grids:hover h4 {
    color: #006cdc;
}  
.welcome-left {
    padding: 1em 3em 0em;
	    text-align: center;
}
.welcome-left h2 {
    font-size: 32px;
    letter-spacing: 4px;
    color:#006cdc;
    text-transform: uppercase;
	text-align: center;
}
.welcome-top{  margin-top: 2em;}
.welcome-left p {
    font-size: 15px;
    color: #232323;
    line-height: 28px;
}
.agileits_w3layouts_more {
    margin-top: 2em;
	    text-align: center;
}
.agileits_w3layouts_more a {
    font-size: 14px;
    color:#006cdc;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background: none;
	    outline: none;
    padding: 10px 22px;
    border: 2px solid#006cdc;
}
.agileits_w3layouts_more a:hover {
    background:#006cdc;
    border: 2px solid#006cdc;
    color: #fff;
}
.welcome-right {
    background: url(../images/a1.jpg)no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 320px;
}
  .modal-header {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2ebaef;
} 
.modal-body p {
    font-size: 14px;
    color: #777;
    line-height: 26px;
    padding: 15px 8px; 
	letter-spacing: 2px;
}
/*--//about--*/
/*--service--*/
.services,.copywrite{background:#000;	
}
.services-right-grid {
    text-align: center;
}

.services-right-grid span.fa{
    color: #006cdc;
    font-size: 2em;
	
}
.services-icon{
    width: 59px;
    height: 59px;
    text-align: center;
    border: solid 2px rgba(241, 241, 241, 0);
    line-height: 62px;
    margin: 0 auto;
}
/* Radial In */
.hvr-radial-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: #006cdc;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f1f1f1;
  border-radius: 100%;
  -webkit-transform: scale(2);
  transform: scale(2);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-in:hover, .hvr-radial-in:focus, .hvr-radial-in:active {
  color: white;
}
.services-right-grid:hover div.hvr-radial-in:before{
  -webkit-transform: scale(0);
  transform: scale(0);	
}
.services-right-grid:hover span.fa{
	color:#FFFFFF;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.services-icon-info h5 {
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    margin: 1em 0;
}
.services-icon-info p{   
    color: #a29c9c;
    font-size: 14px;
    letter-spacing: 2px;
}
.services-right-grids:nth-child(2){
	margin:2em 0;
}
.s1{text-align: center;
    display: block;
    width: 100%;
    height: auto;}
.service-top-w3ls{    margin: 4em 0 0;}
/*-- //services --*/

/*--portfolio--*/

.agileits-title h3{
    font-size:26px;
    color: #000;
    text-align: center;
	letter-spacing:1px;
    margin:1em 0;
}

.portfolio-grids {
    padding: 0;
}
/*--SAP--*/
.sap_tabs {
    clear: both;
    padding: 0;
    text-align: center;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
    list-style: none;
    padding: 0;
    margin: 0 auto 2em;
    text-align: center;
    display: inline-block;
}
.resp-tab-item {
    color: #111;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    margin:0em 1em;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    padding: 0.6em 1.6em;
    border: 1px solid #555;
    float: left;
}
.resp-tab-active, .resp-tab-item:hover {
    text-shadow: none;
    background:#006cdc;
        color:#fff;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;	
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
.tab_img{
	padding:2em 0 0;
	display: block;
}
.portfolio-grids img.img-responsive {
    width: 100%; 
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
    transition: .5s all;
}
.gallery-grid {
    transition: .5s all;
    overflow: hidden;
	cursor: pointer;
}
.gallery-grid:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
    transform: scale(1.1);
}
		
/*--//portfolio--*/		
/*-- testimonials --*/

.agile_testimonials_grid p {
    color: #fff;
    line-height: 2em;
    margin-bottom: 1em;
	text-align:left;
	font-size:14px;
}
.w3_agile_testimonials_grid_right {
    text-align: right;
    float: left;
    width: 70%;
    padding: 1em 2em;
    background:#006cdc;
	position:relative;
}
.test-tooltip:before {
	content: '';
	position: absolute;
	left: -17px;
	top: 38%;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 14px solid#006cdc;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
}
.test-tooltip1:after {
	content: '';
	position: absolute;
	right: -15px;
	top: 38%;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 14px solid#006cdc;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}
.w3_agile_testimonials_grid {
    float: left;
    padding: 0 5em;
}
.w3_agile_testimonials_grid_right h4 {
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.w3_agile_testimonials_grid_right h5{
	font-size:14px;
	color:#87b200;
}
.agile_testimonials_grids {
    margin: 4em 0 2em;
}
/*--flexisel--*/
.flex-slider{	
	background:#222227;
	padding: 70px 0 165px 0;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
	padding:0em 0 0;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	position: relative;
	line-height: 35px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    background: url(../images/left.png) no-repeat 8px 13px #003580;
    top: 96% !important;
    border-radius: 50%;
}
.nbs-flexisel-nav-left {
	left:71%;
}
.nbs-flexisel-nav-right {
	right: 21%;
    background:url(../images/right.png) no-repeat 8px 13px #003580;
}
/*--//flexisel--*/
.agile_testimonials_grid {
    margin: 0 0em 2em;
}
span.w3-line {
    height: 1px;
    width: 10%;
    background: #fff;
    display: block;
    margin: 10px auto 0;
}
span.black{ background:#000;}
.port {
    font-size: 14px;
    letter-spacing: 1px;
    color: #000;
    padding: 0px 19em;
    line-height: 2em;
    text-align: center;
}
.ser-info{color:#fff;}
/*-- //testimonials --*/
/*-- contact--*/
.styled-input.agile-styled-input-top {
    margin-top: 0;
} 
.contact input[type="text"],.contact input[type="email"],.contact textarea{
    font-size: .9em;
    color: #fff;
    border: none;
    padding: 1em;
    border-bottom: 2px solid #fff;
	font-size:15px;
    width: 100%;
    background:rgba(206, 206, 206, 0.2);
	outline: none;
	letter-spacing:1px
}
.contact input[type="text"]:hover,.contact input[type="email"]:hover,.contact textarea:hover{ border-bottom: 2px solid #006cdc;}
::-webkit-input-placeholder { /* Chrome */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #fff;
  opacity: 1;
}
.contact textarea { 
	min-height: 13em;
    resize: none;
} 
/*-- input-effect --*/

.styled-input {
	width:100%;
	margin: 2em 0 1em;
}

.styled-input input ~ span,.styled-input textarea ~ span {
	display: block;
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    transition: all 0.125s;
	  transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.styled-input input:focus.styled-input textarea:focus { 
	outline: 0; 
} 
 .content{
    background: url(../images/ct1.jpg)no-repeat center;
    background-size: cover;
 }
/*-- //input-effect --*/
.contact input[type="submit"] {
	    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    border: solid 2px #fff;
    padding: .7em 3em;
    outline: 0;
	background:#006cdc;
	display:inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.click{text-align:center;}
.contact input[type="submit"]:hover {
 	    color: #fff;
    background:none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact-top{border:2px solid #00b6e3;
             background:#bbb;
			 padding:1em}
.map-grid {
    border: 4px solid #000;
    padding: 1em;
}
.map-grid iframe {
    width: 100%;
    height: 471px;
    border: 0;
}
/*-- //contact --*/
/*--footer--*/
footer p {
    font-size: 16px;
    color: #fff;
	text-align: center;
	letter-spacing:2px;
}
.copywrite{padding:1em 0;}
.icons {
    text-align: center;
    line-height: 3em;
}
ul {
    list-style-type: none;
}
.icons ul li {
    display: inline-block;
}
.icons ul li a {
    color: #fff;

}
.icons ul li a span.fa {
    margin: 0.5em;
    font-size: 19px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.footer span {
    color: #fff;
    letter-spacing: 11.4px;
}

footer p a{color:#fff;
text-decoration:underline;}
footer p a:hover{color:#3b5998;}
.icons ul li a span.fa.fa-facebook:hover {
    color: #3b5998;
}

.icons ul li a span.fa.fa-twitter:hover{
	color: #55acee;
}

.icons ul li a span.fa.fa-rss:hover{
	color: #f26522;
}
.icons ul li a span.fa.fa-vk:hover{
	color: #45668e;
}
h2{text-align:center;
   margin:0.5em 0;}
h2 a.brand {
    font-size: 56px;
    color: #006cdc;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}
/*--//footer--*/
/*-- bottom-to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
    width: 64px;
    height: 64px;
	border: none;
	text-indent: 100%;
	background: url("../images/arrowup.png") no-repeat 0px 0px;
}
#toTopHover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //bottom-to-top --*/

/*--responsive--*/

@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
	
}
@media(max-width:1366px){
	
}
@media(max-width:1280px){
	
}
@media(max-width:1080px){
	.banner-w3 {
    min-height: 700px;
	}
	.w3l-info {
    margin-top: 18em;
}
.welcome-left {
    padding: 0 25px 0px;
}
.port {
    padding: 0em 12em;
}
.services-icon-info p {
 
    letter-spacing: 1px;
}
.nbs-flexisel-nav-right {
    right: 17%;
}
.w3l-info p {
    padding: 0em 15em;
}
}
@media(max-width:1050px){
.w3l-info h4 {
    font-size: 61px;
}	
}
@media(max-width:1024px){
	.navbar-default .navbar-nav > li > a {
    margin: 0 0.5em;
	}
	.w3l-info p {
    padding: 0em 7em;
}
.about-grids p {
    padding-left: 1em;
}
}
@media(max-width:991px){
	.about, .services, .portfolio, .content, .testimonials {
    padding: 4em 0;
	}
	.welcome-top {
    margin-top: 3em;
}
	.wel{ margin-top: 2em;}
.port {
    padding: 0em 4em;
}
.services-icon-info p {
    padding: 0px 36px;
}	
.w3_agile_testimonials_grid {
    padding: 0em 2em;
}
.welcome-right {

    min-height: 442px;
}
.w3_agile_testimonials_grid_right {
    padding: 1em;
}
.contact{margin-top: 2em;}
.agileits_w3layouts_more {
    margin-top: 2em;
}
.map-grid iframe {
    height: 383px;
}
}
@media(max-width:900px){
	.banner-w3 {
    min-height: 600px;
}
.nav > li > a {
    padding: 10px 8px;	
}
.w3l-info h4 {
    font-size: 55px;
}
}
@media(max-width:800px){
	.nav > li > a {
    padding: 10px 3px;
}
.w3l-info {
    margin-top: 16em;
}
}
@media(max-width:768px){
.welcome-right {
    min-height: 427px;
}
@media(max-width:767px){
	.nav > li > a {
    padding: 15px 3px;
}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
       border-top:none;
	    border-bottom: none;
    background-color: transparent;
}
	.navbar-collapse.navbar-ex1-collapse.collapse.in {
    text-align: center;
}
.navbar-right {
    text-align: center; 
	    background: #000;
}
.flex-control-nav {
		bottom: -52%;
		
	}
	.title {
    margin-bottom: 21px;
}
span.w3-line {
    width: 40%;
}
.modal-body {
    padding: 10px 43px;
}
.about-grids {
    padding: 0 85px;	
}
.about-top{margin-top:1.5em;}

.navbar-default .navbar-toggle {
    border:2px solid #006cdc;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fbf8f8;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #006cdc;
}

.service-top-w3ls {
    margin: 2em 0 0;
}
}
@media(max-width:736px){
	h1 a.navbar-brand {
    font-size:50px;
	}
	.w3l-info h4 {
    font-size: 45px;
}
.w3l-info {
    margin-top: 13em;
}
.port {
    padding: 0em 3em;
}
	.banner-w3 {
    min-height: 530px;
}
.w3l-info p {
    padding: 0em 6em;
}
h2 a.brand {
    font-size: 50px;
}	
.map-grid iframe {
    height: 320px;
}
.contact textarea {
    min-height: 11em;
  
}
}
@media(max-width:667px){
.w3l-info p {
    padding: 0em 4em;
}	
.w3layouts_more-buttn a {

    padding: 10px 14px;
}
.about-grids {
    padding: 0 74px;
}
.port {
    padding: 0em 1em;
}
.nbs-flexisel-nav-left {
    left: 68%;
}
}
@media(max-width:640px){
.w3l-info p {
    padding: 0em 3em;
}	
}
@media(max-width:600px){
	.about-grids {
    padding: 0 63px;
}
.w3_agile_testimonials_grid {
    padding: 0em 1em;
}
.services-icon-info p {
    padding: 0px 28px;
}
}
@media(max-width:568px){
	.title {
    font-size: 40px;
	}
	.welcome-right {
    min-height: 398px;
}
.about-grids {
    padding: 0 52px;
}
nav.navbar.navbar-default.navbar-fixed-top {

    padding: 1em 2em;
}	
.w3l-info {
    margin-top: 11em;
}
.title {
    margin-bottom: 25px;
}
.services-icon-info p {
    padding: 0px 10px;
}

.nbs-flexisel-nav-left {
    left: 62%;
}
}
@media(max-width:480px){
	.banner-w3 {
    min-height: 453px;
}
h1 a.navbar-brand {
    font-size: 45px;
}
.w3l-info h4 {
    font-size: 37px;
	    line-height: 27px;
}
.w3layouts_more-buttn a {
    padding: 7px 11px;
}
.w3l-info p {
    padding: 0em 1em;
}
.about-grids {
    padding: 0 20px;
}
.about, .services, .portfolio, .content, .testimonials {
    padding: 3em 0;
}
.about-grids span.fa {
    font-size: 2em;
}
.contact input[type="text"], .contact input[type="email"], .contact textarea {
    padding: 0.7em;
}
.contact textarea {
    min-height: 8em;
}
.welcome-left {
    padding: 0 5px 0px;
}
.agileits_w3layouts_more a {
padding: 9px 11px;
}
.title {
    margin-bottom: 11px;
	font-size: 41px;
}
.services-icon-info p {
    padding: 0px 0px;
}
.w3_agile_testimonials_grid {
    width: 30%;
}
.agile_testimonials_grids {
    margin: 2em 0 2em;
}
h2 a.brand {
    font-size: 45px;
}
.icons {
    line-height: 1em;
}
footer p {
    font-size: 14px;
    margin: 0 .5em;
}
}
@media(max-width:440px){
h2 a.brand {
    font-size: 40px;
}
h1 a.navbar-brand {
    font-size: 40px;
}
}
@media(max-width:414px){
.w3l-info h4 {
    font-size: 33px;
}	
.w3l-info p {
    padding: 0em 0.8em;
}
.w3l-info p {
    margin:1em 0;
}
.nbs-flexisel-nav-left {
    left: 56%;
}
.resp-tab-item {
    margin: 0em 0.5em;
}
.welcome-right {
    min-height: 278px;
}
.services-icon {
    width: 52px;
    height: 53px;
    line-height: 54px;
}
.about-grids {
    padding: 0 16px;
}
footer p {
    line-height: 28px;
}
}
@media(max-width:384px){
.about-grids {
    padding: 0 9px;
}
.services-right-grid {
    padding: 0 5px;
}	
.about-grids {

    width: 100%;
}
.mid-top
{margin-top:1.5em;}
.port {
    padding: 0px 7px;
}
.services-right-grid {
    width: 100%;
}
.services-right-grid:nth-child(2) {
    margin-top: 2em;
}
#toTop {
    bottom: 46px;
    width: 42px;
    height: 44px;
}
}
@media(max-width:375px){
	.about-grids p {
    padding-left: 0.5em;
}
.services-icon {
    width: 46px;
    height: 46px;
    line-height: 49px;
}
.welcome-right {
    min-height: 242px;
}
span.fa.fa-thumbs-up, span.fa.fa-comment, span.fa.fa-heartbeat, span.fa.fa-car {
    color: #006cdc;
    font-size: 1.5em;
}
.modal-body {
    padding: 10px 7px;
}
.resp-tab-item {
    padding: 0.6em 1em;
}
}
@media(max-width:320px){
	.banner-w3 {
    min-height: 400px;
}
.w3l-info {
    margin-top: 9em;
}
	.w3l-info h4 {
    font-size: 27px;
}
.w3l-info p {
    font-size: 13px;
}
.welcome-right {
    min-height: 198px;
}
.nbs-flexisel-nav-left {
    left: 47%;
}
.map-grid iframe {
    height: 237px;
}
}
/*--//responsive--*/

